page-feed {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .cattle-size{
        color: black;
        font-size: 3em;
        text-align: center;
        background-color: transparent;
      }
      .bales-size{
        color: black;
        font-size: 3em;
        text-align: center;
        background-color: transparent;
      }
      .pit-size{
        color: black;
        font-size: 3em;
        text-align: center;
        background-color: transparent;
      }
      .silage-image{
        background: radial-gradient(green, white);
      }
    }
