page-forgot-password { 
    ion-title{
        text-align: center;
    }

     .bg-image{
         background-image: url('../../assets/img/silage1.jpg');
         background-repeat: no-repeat;
         background-size: contain;
         background-position: center;
     }

     ion-card.card{
         margin-top: 150px;
         background: rgba(232, 230, 230, 0.8px);
         border-radius: 15px;
         margin-bottom: 5px;
    }
    .home-header{
        text-align: center;
        border-radius: 15px;
        color: rgba(153, 0, 255, 1px);
        background: rgba(232, 230, 230, 0px);
    }
}