<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Cows silage calculator -->
  <ion-list>
    <ion-list-header class="cattle-size">
      Cattle
    </ion-list-header>
    <ion-item>
      <ion-label floating>Cattle amount:</ion-label>
      <ion-input type="number" [(ngModel)]="silage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Months needed: </ion-label>
      <ion-input type="number" [(ngModel)]="cattle"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button block ion-button (click)="calculateFeed()">Calculate</button>
  </div>

  <ion-card *ngIf="feedValue">
      <ion-card-header>
        Feed Calculation
      </ion-card-header>
      <ion-card-content>
        <p>Cattle: {{this.silage}}, Months: {{this.cattle}}</p>
        <p>Silage needed(in Tonnes): {{feedValue}}</p>
        <p>Bales needed: {{this.baleValue}} </p>
      </ion-card-content>
    </ion-card>

  <ion-list>
    <!-- Bales calculator -->
    <ion-list-header class="bales-size">
        Bales
      </ion-list-header>
    <ion-item>
      <ion-label floating>1st/2nd cut bales:</ion-label>
      <ion-input type="number" [(ngModel)]="bales"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Surplus Bales: </ion-label>
      <ion-input type="number" [(ngModel)]="sBales"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button block ion-button (click)="calculateBales()">Calculate</button>
  </div>

  <ion-card *ngIf="baleAMT">
      <ion-card-header>
        Bales Calculation
      </ion-card-header>
      <ion-card-content>
        <p>Bales: {{this.bales}}</p>
        <p>Surplus: {{this.sBales}}</p>
        <p>Bales in stock: {{baleAMT}}</p>
      </ion-card-content>
    </ion-card>

    <ion-list>
        <!-- Pit Size -->
        <ion-list-header class="pit-size">
            Silage Pit
          </ion-list-header>
        <ion-item>
          <ion-label floating>Height(m):</ion-label>
          <ion-input type="number" [(ngModel)]="h"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Width(m): </ion-label>
          <ion-input type="number" [(ngModel)]="w"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Length(m): </ion-label>
            <ion-input type="number" [(ngModel)]="l"></ion-input>
          </ion-item>
      </ion-list>
      <div padding>
        <button block ion-button (click)="silagePit()">Calculate</button>
      </div>
    
      <ion-card *ngIf="pitDim">
          <ion-card-header>
            Silage Pit
          </ion-card-header>
          <ion-card-content>
            <p>Silage in pit: {{pitDim}}</p>
          </ion-card-content>
        </ion-card>
 
</ion-content>
